/* Default Navbar style */
.navbar-default {
  background-color: transparent;
  transition: background-color 0.4s ease, color 0.4s ease;
}



/* When scrolled */
.navbar-scrolled {
  background-color: #f1ebeb;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-brand ,
.navbar-scrolled .nav-link:hover{
  color: #242c4e  ;
}

/* Optional: make sticky visually consistent */
body {
  padding-top: 50px; /* prevent content from hiding under fixed navbar */
}

.navbar.navbar-scrolled {
  background-color: white !important; /* Background when scrolled */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar {
  background-color: #242c4e !important; /* Initial dark background */
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.4s ease, box-shadow 0.4s ease;
}

.navbar-default .nav-link {
  color: white !important;
  margin-right: 1rem;
  text-decoration: none;
  font-weight: normal;
  transition: color 0.4s ease, text-decoration 0.3s ease;
}

.navbar-default .nav-link:hover {
  text-decoration: underline;
  font-weight: bold;
}

.navbar-scrolled .nav-link:hover{
    text-decoration: underline;
    font-weight: bold;
}

.navbar-default .navbar-brand {
  color: rgb(255, 255, 255) !important;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
  transition: color 0.4s ease;
}

