.home-screen {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.5rem;
  padding-top: 20px;
  gap: 20px; /* spacing between searchbar and posts */
}

.search-wrapper {
  width: 100%;
  margin-top: 90px;
  
}




