.home-screen {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.5rem;
  padding-top: 0;
  margin-top: 0;
  gap: 20px; /* spacing between searchbar and posts */ 
}



.search-header {
  display: flex;
  justify-content: center; /* center the group horizontally */
  align-items: center;
  gap: 12px;       /* space between search bar and button */
  margin: top 10px;;
  padding-top: 70px; /* sits just below the fixed navbar with minimal gap */
  width: 100%;
}

.posts-grid {
  display: flex;
  flex-wrap: wrap;       /* allows cards to move to next line if no space */
  gap: 20px;             /* space between cards */
  justify-content: flex-start;  /* align all cards to the left */
}




